<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hltc.mtmap">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 去掉READ_LOGS权限-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--开机启动添加 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--debug-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7eb470af66a25631e2dc42dfba06866d" />
        <!--release-->
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="867cd86da901faa04eb7766b4d32a111" />-->
        <meta-data
            android:name="ServerAddress"
            android:value="www.maitianditu.com" />
        <meta-data
            android:name="OssHost"
            android:value="oss-cn-hangzhou.aliyuncs.com" />
        <meta-data
            android:name="ImgHost"
            android:value="img.maitianditu.com" />
        <meta-data
            android:name="CdnHost"
            android:value="www.maitianditu.com.w.kunlunAr.com" />
        <meta-data
            android:name="BucketName"
            android:value="maitianditu" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5549747467e58ed626001c0a" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="297a94e56ebabf3e4d2516726fac4e78" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MTMap" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.start.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.start.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.start.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.start.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.start.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.publish.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.publish.CreateGrainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.publish.DeletePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.publish.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.publish.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.publish.DonePublishDialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.publish.CompleteAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.profile.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.profile.setting.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.FriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.start.CheckContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.setting.FeedbackSuccessDialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.profile.FriendStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.AddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.SearchFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.FriendRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.map.GrainDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SingleEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.map.GrainInfoDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".activity.map.SearchPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.MyGrainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.map.ManyGrainInfoDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".activity.profile.setting.CheckUpdateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.MyFavouritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.setting.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.publish.CreateGrainActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.map.LargeImageActivity" />
        <activity
            android:name=".activity.profile.FriendProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.common.ImageViewerActivity"></activity>
        <activity android:name=".activity.profile.FriendGrainActivity"/>

        <service android:name=".service.DownloadService" />

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />
        <receiver android:name="com.umeng.message.RegistrationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.hltc.mtmap.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushService_v1">
            <intent-filter>
                <action android:name="com.hltc.mtmap.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.hltc.mtmap.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":pushService_v1">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />

        <!-- If you don't want to use the standard notification bar in SDK, you can define IntentService instead to handle message. -->
        <service android:name=".service.MyPushIntentService" />
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
    </application>

</manifest>
